.works{
    color: olivedrab;
}

body {
    background-color: rgb(39, 39, 79);
}

.grid{
    border: 1px solid green;
    height: 20em;
    width: 20em;
}

.cell{
    border: 1px solid white;
    height: 2em;
    width:   2em;
}